{% extends "base.html" %}
{% load static %}
{% block content %}
        
        <section class="flat-spacing-15">
            <div class="container">
                <div class="tf-grid-layout md-col-2 tf-img-with-text style-4">
                    <div class="tf-content-wrap px-0 d-flex justify-content-center w-100">
                        <div>
                            <div class="heading" style="font-size: 2.5rem; color: #918567;">{{ about_us.mision_titulo }}</div>
                            <div class="text"  style="font-size: 1rem; ">
                                {{ about_us.mision_texto|linebreaks }}
                            </div>
                            <div style="margin-top: 20px;"> 
                                <ul class="tf-social-icon d-flex gap-10">
                                        <li><a href="#" class="box-icon w_34 round social-facebook social-line"><i
                                                    class="icon fs-14 icon-fb"></i></a></li>
                                        <li><a href="#" class="box-icon w_34 round social-twiter social-line"><i
                                                    class="icon fs-12 icon-Icon-x"></i></a></li>
                                        <li><a href="#" class="box-icon w_34 round social-instagram social-line"><i
                                                    class="icon fs-14 icon-instagram"></i></a></li>
                                        <li><a href="#" class="box-icon w_34 round social-tiktok social-line"><i
                                                    class="icon fs-14 icon-tiktok"></i></a></li>
                                        <li><a href="#" class="box-icon w_34 round social-pinterest social-line"><i
                                                    class="icon fs-14 icon-pinterest-1"></i></a></li>
                                </ul>
                             </div>
                        </div>
                        
                    </div>
                    
                    {% if imagenes_slider %}
                    <div class="grid-img-group">
                        {% for imagen in imagenes_slider %}
                        <div class="tf-image-wrap box-img {% if forloop.counter == 1 %}item-1{% elif forloop.counter == 2 %}item-2{% else %}item-{% with counter=forloop.counter %}{{ counter }}{% endwith %}{% endif %}">
                            <div class="img-style">
                                <img class="lazyload" 
                                     src="{{ imagen.imagen.url }}"
                                     data-src="{{ imagen.imagen.url }}" 
                                     alt="{{ imagen.titulo|default:'img-slider' }}"
                                     loading="lazy">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="grid-img-group">
                        <div class="tf-image-wrap box-img item-1">
                            <div class="img-style">
                                <img class="lazyload" 
                                     src="{% static 'images/collections/collection-71.jpg' %}"
                                     data-src="{% static 'images/collections/collection-71.jpg' %}" 
                                     alt="img-slider"
                                     loading="lazy">
                            </div>
                        </div>
                        <div class="tf-image-wrap box-img item-2">
                            <div class="img-style">
                                <img class="lazyload" 
                                     src="{% static 'images/collections/collection-70.jpg' %}"
                                     data-src="{% static 'images/collections/collection-70.jpg' %}" 
                                     alt="img-slider"
                                     loading="lazy">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- /image-text -->
        
        
        <div class="container">
            <div class="line"></div>
        </div>
        
        <!-- Footer -->
       
        <!-- /Footer -->

    </div>

    <!-- Javascript -->
    {% endblock %}
</body>

</html>