{% extends "base.html" %}
{% load static %}
{% block content %}
        

    <!-- page-title -->
    <div class="tf-page-title">
            <div class="container-full" >
                <div class="heading text-center"  style="color: #918567;">
                    {% if categoria_actual %}
                        {{ categoria_actual.nombre }}
                    {% elif coleccion_actual %}
                        {{ coleccion_actual.nombre }}
                    {% else %}
                        Nuevos Productos
                    {% endif %}
                </div>
                <p class="text-center text-2 text_black-2 mt_5">
                    {% if categoria_actual and categoria_actual.descripcion %}
                        {{ categoria_actual.descripcion }}
                    {% elif coleccion_actual and coleccion_actual.descripcion %}
                        {{ coleccion_actual.descripcion }}
                    {% else %}
                        Explora nuestra última selección de moda
                    {% endif %}
                </p>
            </div>
        </div>
        <!-- /page-title -->
        <!-- Collection -->
        <section class="flat-spacing-3 pb_0">
            <div class="container">
                <div class="hover-sw-nav">
                    <div dir="ltr" class="swiper tf-sw-collection" data-preview="5" data-tablet="3" data-mobile="2"
                        data-space-lg="30" data-space-md="30" data-space="15" data-loop="false" data-auto-play="false">
                        <div class="swiper-wrapper">
                            {% for categoria in categorias_a_mostrar %}
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item style-2 hover-img">
                                    <div class="collection-inner">
                                        <a href="{% url 'core:shop-collection-sub' %}?categoria={{ categoria.slug }}{% if coleccion_actual %}&coleccion={{ coleccion_actual.slug }}{% endif %}" class="collection-image img-style" style="min-height: 320px; display: block;">
                                            {% if categoria.imagen %}
                                                <img class="lazyload" data-src="{{ categoria.imagen.url }}"
                                                    src="{{ categoria.imagen.url }}" alt="{{ categoria.nombre }}" 
                                                    style="width: 100%; height: 320px; object-fit: cover; display: block;">
                                            {% else %}
                                                <img class="lazyload" data-src="{% static 'images/collections/collection-14.jpg' %}"
                                                    src="{% static 'images/collections/collection-14.jpg' %}" alt="{{ categoria.nombre }}"
                                                    style="width: 100%; height: 320px; object-fit: cover; display: block;">
                                            {% endif %}
                                        </a>
                                        <div class="collection-content">
                                            <a href="{% url 'core:shop-collection-sub' %}?categoria={{ categoria.slug }}{% if coleccion_actual %}&coleccion={{ coleccion_actual.slug }}{% endif %}"
                                                class="tf-btn collection-title hover-icon fs-15">
                                                <span>{{ categoria.nombre }}</span>
                                                <i class="icon icon-arrow1-top-left"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <!-- Fallback si no hay categorías -->
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item style-2 hover-img">
                                    <div class="collection-inner">
                                        <a href="{% url 'core:shop-collection-sub' %}" class="collection-image img-style" style="min-height: 320px; display: block;">
                                            <img class="lazyload" data-src="{% static 'images/collections/collection-14.jpg' %}"
                                                src="{% static 'images/collections/collection-14.jpg' %}" alt="collection-img"
                                                style="width: 100%; height: 320px; object-fit: cover; display: block;">
                                        </a>
                                        <div class="collection-content">
                                            <a href="{% url 'core:shop-collection-sub' %}"
                                                class="tf-btn collection-title hover-icon fs-15"><span>Todos los Productos</span><i
                                                    class="icon icon-arrow1-top-left"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nav-sw nav-next-slider nav-next-collection box-icon w_46 round"><span
                            class="icon icon-arrow-left"></span></div>
                    <div class="nav-sw nav-prev-slider nav-prev-collection box-icon w_46 round"><span
                            class="icon icon-arrow-right"></span></div>
                    <div class="sw-dots style-2 sw-pagination-collection justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Collection -->
        <!-- Section Product -->
        <section class="flat-spacing-2">
            <div class="container">
                <div class="tf-shop-control grid-3 align-items-center">
                    <div class="tf-control-filter">
                        <a href="#filterShop" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft"
                            class="tf-btn-filter"><span class="icon icon-filter"></span><span
                                class="text">Filtrar</span></a>
                    </div>
                    <ul class="tf-control-layout d-flex justify-content-center">
                        <li class="tf-view-layout-switch sw-layout-list list-layout" data-value-layout="list">
                            <div class="item"><span class="icon icon-list"></span></div>
                        </li>
                        <li class="tf-view-layout-switch sw-layout-2" data-value-layout="tf-col-2">
                            <div class="item"><span class="icon icon-grid-2"></span></div>
                        </li>
                        <li class="tf-view-layout-switch sw-layout-3" data-value-layout="tf-col-3">
                            <div class="item"><span class="icon icon-grid-3"></span></div>
                        </li>
                        <li class="tf-view-layout-switch sw-layout-4 active" data-value-layout="tf-col-4">
                            <div class="item"><span class="icon icon-grid-4"></span></div>
                        </li>
                        <li class="tf-view-layout-switch sw-layout-5" data-value-layout="tf-col-5">
                            <div class="item"><span class="icon icon-grid-5"></span></div>
                        </li>
                        <li class="tf-view-layout-switch sw-layout-6" data-value-layout="tf-col-6">
                            <div class="item"><span class="icon icon-grid-6"></span></div>
                        </li>
                    </ul>
                    <div class="tf-control-sorting d-flex justify-content-end">
                        <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
                            <div class="btn-select">
                                <span class="text-sort-value">Destacados</span>
                                <span class="icon icon-arrow-down"></span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="select-item active">
                                    <span class="text-value-item">Destacados</span>
                                </div>
                                <div class="select-item">
                                    <span class="text-value-item">Más vendidos</span>
                                </div>
                                <div class="select-item" data-sort-value="a-z">
                                    <span class="text-value-item">Alfabéticamente, A-Z</span>
                                </div>
                                <div class="select-item" data-sort-value="z-a">
                                    <span class="text-value-item">Alfabéticamente, Z-A</span>
                                </div>
                                <div class="select-item" data-sort-value="price-low-high">
                                    <span class="text-value-item">Precio, menor a mayor</span>
                                </div>
                                <div class="select-item" data-sort-value="price-high-low">
                                    <span class="text-value-item">Precio, mayor a menor</span>
                                </div>
                                <div class="select-item">
                                    <span class="text-value-item">Fecha, antiguo a nuevo</span>
                                </div>
                                <div class="select-item">
                                    <span class="text-value-item">Fecha, nuevo a antiguo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-control-shop">
                    <div class="meta-filter-shop">
                        <div id="product-count-grid" class="count-text"></div>
                        <div id="product-count-list" class="count-text"></div>
                        <div id="applied-filters"></div>
                        <button id="remove-all" class="remove-all-filters" style="display: none;">Quitar Todos <i
                                class="icon icon-close"></i></button>
                    </div>
                    <div class="tf-list-layout wrapper-shop" id="listLayout">
                        {% comment %} LIST LAYOUT - Loop productos {% endcomment %}
                        {% for producto in productos %}
                            <div class="card-product list-layout" data-product-id="{{ producto.id }}" data-availability="{{ producto.availability }}" data-brand="{{ producto.marca|default:'Ecomus' }}">
                                <div class="card-product-wrapper">
                                    <a href="{{ producto.get_absolute_url }}" class="product-img">
                                        {% if producto.main_image_src %}
                                            <img class="lazyload img-product" data-src="{{ producto.main_image_src }}"
                                                src="{{ producto.main_image_src }}" alt="image-product">
                                        {% else %}
                                            <img class="lazyload img-product" data-src="{% static 'images/products/placeholder.jpg' %}"
                                                src="{% static 'images/products/placeholder.jpg' %}" alt="image-product">
                                        {% endif %}
                                        {% if producto.hover_image_src %}
                                            <img class="lazyload img-hover" data-src="{{ producto.hover_image_src }}"
                                                src="{{ producto.hover_image_src }}" alt="image-product">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-product-info">
                                    <a href="{{ producto.get_absolute_url }}" class="title link">{{ producto.nombre }}</a>
                                    <span class="price current-price">${{ producto.display_price }}</span>
                                    {% if producto.short_description %}
                                        <p class="description">{{ producto.short_description }}</p>
                                    {% endif %}
                                    {% if producto.colors %}
                                        <ul class="list-color-product">
                                            {% for color in producto.colors %}
                                                <li class="list-color-item {% if forloop.first %}hover-tooltip {% endif %}color-swatch{% if forloop.first %} active{% endif %}">
                                                    <span class="tooltip{% if forloop.first %} tooltip-bottom{% endif %}">{{ color.valor }}</span>
                                                    <span class="swatch-value"></span>
                                                    {% if producto.main_image_src %}
                                                        <img class="lazyload" data-src="{{ producto.main_image_src }}"
                                                            src="{{ producto.main_image_src }}" alt="image-product">
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="list-product-btn">
                                        <button type="button" class="box-icon bg_white wishlist btn-icon-action" 
                                            data-product-id="{{ producto.id }}"
                                            {% if producto.in_wishlist %}data-wishlist-id="{{ producto.wishlist_item_id }}"{% endif %}>
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </button>
                                        <button type="button" class="box-icon bg_white wishlist btn-icon-action d-md-none" 
                                                data-product-id="{{ producto.id }}">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </button>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview btn-open-quickview tf-btn-loading"
                                            data-producto-id="{{ producto.id }}"
                                            data-product-sizes="{{ producto.sizes|join:',' }}">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                    {% if producto.sizes %}
                                        <div class="size-list">
                                            {% for s in producto.sizes %}
                                                <span class="size-item">{{ s }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% empty %}
                            <p>No se encontraron productos.</p>
                        {% endfor %}
                        
                       <!-- pagination LIST LAYOUT -->
                        {% if page_obj %}
                            {% if page_obj.paginator.num_pages > 1 %}
                            <ul class="wg-pagination tf-pagination-list">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}" class="pagination-link animate-hover-btn">
                                            <span class="icon icon-arrow-left"></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span class="pagination-link"><span class="icon icon-arrow-left"></span></span></li>
                                {% endif %}

                                {% for p in page_obj.paginator.page_range %}
                                    <li class="{% if page_obj.number == p %}active{% endif %}">
                                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ p }}" class="pagination-link">{{ p }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}" class="pagination-link animate-hover-btn">
                                            <span class="icon icon-arrow-right"></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span class="pagination-link"><span class="icon icon-arrow-right"></span></span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        {% endif %}

                    </div>
                    <!-- /tf-list-layout -->

                    <div class="tf-grid-layout wrapper-shop tf-col-4" id="gridLayout">
                        {% comment %} GRID LAYOUT - Loop productos {% endcomment %}
                        {% for producto in productos %}
                            <div class="card-product grid" data-product-id="{{ producto.id }}" data-availability="{{ producto.availability }}" data-brand="{{ producto.marca|default:'Ecomus' }}">
                                <div class="card-product-wrapper">
                                    <a href="{{ producto.get_absolute_url }}" class="product-img">
                                        {% if producto.main_image_src %}
                                            <img class="lazyload img-product" data-src="{{ producto.main_image_src }}"
                                                src="{{ producto.main_image_src }}" alt="image-product">
                                        {% else %}
                                            <img class="lazyload img-product" data-src="{% static 'images/products/placeholder.jpg' %}"
                                                src="{% static 'images/products/placeholder.jpg' %}" alt="image-product">
                                        {% endif %}
                                        {% if producto.hover_image_src %}
                                            <img class="lazyload img-hover" data-src="{{ producto.hover_image_src }}"
                                                src="{{ producto.hover_image_src }}" alt="image-product">
                                        {% endif %}
                                    </a>
                                    <div class="list-product-btn">
                                        <button type="button" class="box-icon bg_white wishlist btn-icon-action"
                                                data-product-id="{{ producto.id }}">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </button>
                                        <button type="button" class="box-icon bg_white wishlist btn-icon-action d-md-none"
                                                data-product-id="{{ producto.id }}">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </button>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview btn-open-quickview tf-btn-loading"
                                            data-producto-id="{{ producto.id }}">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                    {% if producto.sizes %}
                                        <div class="size-list">
                                            {% for s in producto.sizes %}
                                                <span class="size-item">{{ s }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-product-info">
                                    <a href="{{ producto.get_absolute_url }}" class="title link">{{ producto.nombre }}</a>
                                    <span class="price current-price">${{ producto.display_price }}</span>
                                    {% if producto.colors %}
                                        <ul class="list-color-product">
                                            {% for color in producto.colors %}
                                                <li class="list-color-item color-swatch{% if forloop.first %} active{% endif %}">
                                                    <span class="tooltip">{{ color.valor }}</span>
                                                    <span class="swatch-value"></span>
                                                    {% if producto.main_image_src %}
                                                        <img class="lazyload" data-src="{{ producto.main_image_src }}"
                                                            src="{{ producto.main_image_src }}" alt="image-product">
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% empty %}
                            <p>No se encontraron productos.</p>
                        {% endfor %}

                        <!-- pagination GRID LAYOUT -->
                        {% if page_obj %}
                            {% if page_obj.paginator.num_pages > 1 %}
                            <ul class="wg-pagination tf-pagination-list">
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}" class="pagination-link animate-hover-btn">
                                            <span class="icon icon-arrow-left"></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span class="pagination-link"><span class="icon icon-arrow-left"></span></span></li>
                                {% endif %}

                                {% for p in page_obj.paginator.page_range %}
                                    <li class="{% if page_obj.number == p %}active{% endif %}">
                                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ p }}" class="pagination-link">{{ p }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li>
                                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}" class="pagination-link animate-hover-btn">
                                            <span class="icon icon-arrow-right"></span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled"><span class="pagination-link"><span class="icon icon-arrow-right"></span></span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        {% endif %}

                    </div>
                    <!-- /tf-grid-layout -->

                </div>
                <!-- /wrapper-control-shop -->
            </div>
            <!-- /container -->
        </section>
        <!-- /Section Product -->
    <!-- Filter -->
    <div class="offcanvas offcanvas-start canvas-filter" id="filterShop">
        <div class="canvas-wrapper">
            <header class="canvas-header">
                <div class="filter-icon">
                    <span class="icon icon-filter"></span>
                    <span>Filtrar</span>
                </div>
                <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
            </header>
            <div class="canvas-body">
                <div class="widget-facet wd-categories">
                    <div class="facet-title" data-bs-target="#categories" data-bs-toggle="collapse" aria-expanded="true"
                        aria-controls="categories">
                        <span>Categorías</span>
                        <span class="icon icon-arrow-up"></span>
                    </div>
                    <div id="categories" class="collapse show">
                        <ul class="list-categoris current-scrollbar mb_36">
                            {% for categoria in categorias_menu %}
                                <li class="cate-item {% if request.GET.categoria == categoria.slug %}current{% endif %}">
                                    <a href="{% url 'core:shop-collection-sub' %}?categoria={{ categoria.slug }}{% if coleccion_actual %}&coleccion={{ coleccion_actual.slug }}{% endif %}">
                                        <span>{{ categoria.nombre }}</span>
                                    </a>
                                    
                                    {% if categoria.subcategorias.exists %}
                                        <ul class="sub-menu" style="padding-left: 20px; margin-top: 5px;">
                                            {% for subcategoria in categoria.subcategorias.all %}
                                                {% if subcategoria.estado %}
                                                    <li class="cate-item {% if request.GET.categoria == subcategoria.slug %}current{% endif %}" style="font-size: 13px;">
                                                        <a href="{% url 'core:shop-collection-sub' %}?categoria={{ subcategoria.slug }}{% if coleccion_actual %}&coleccion={{ coleccion_actual.slug }}{% endif %}">
                                                            <span>→ {{ subcategoria.nombre }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <form action="{% url 'core:shop-collection-sub' %}" method="get" id="facet-filter-form" class="facet-filter-form">
                    {% if categoria_actual %}
                        <input type="hidden" name="categoria" value="{{ categoria_actual.slug }}">
                    {% endif %}
                    {% if coleccion_actual %}
                        <input type="hidden" name="coleccion" value="{{ coleccion_actual.slug }}">
                    {% endif %}
                    
                    <div class="widget-facet">
                        <div class="facet-title" data-bs-target="#availability" data-bs-toggle="collapse"
                            aria-expanded="true" aria-controls="availability">
                            <span>Disponibilidad</span>
                            <span class="icon icon-arrow-up"></span>
                        </div>
                        <div id="availability" class="collapse show">
                            <ul class="tf-filter-group current-scrollbar mb_36">
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="stock" value="en-stock" class="tf-check" id="inStock">
                                    <label for="inStock" class="label"><span>En stock</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="stock" value="agotado" class="tf-check" id="outStock">
                                    <label for="outStock" class="label"><span>Agotado</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="stock" value="" class="tf-check" id="allStock" checked>
                                    <label for="allStock" class="label"><span>Todos</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-facet">
                        <div class="facet-title" data-bs-target="#price" data-bs-toggle="collapse" aria-expanded="true"
                            aria-controls="price">
                            <span>Precio</span>
                            <span class="icon icon-arrow-up"></span>
                        </div>
                        <div id="price" class="collapse show">
                            <div class="widget-price filter-price">
                                <div class="price-val-range" id="price-value-range" data-min="0" data-max="500"></div>
                                <div class="box-title-price">
                                    <span class="title-price">Precio :</span>
                                    <div class="caption-price">
                                        <div class="price-val" id="price-min-value" data-currency="$"></div>
                                        <span>-</span>
                                        <div class="price-val" id="price-max-value" data-currency="$"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="widget-facet">
                        <div class="facet-title" data-bs-target="#brand" data-bs-toggle="collapse" aria-expanded="true"
                            aria-controls="brand">
                            <span>Marca</span>
                            <span class="icon icon-arrow-up"></span>
                        </div>
                        <div id="brand" class="collapse show">
                            <ul class="tf-filter-group current-scrollbar mb_36">
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="brand" class="tf-check" id="Ecomus">
                                    <label for="Ecomus" class="label"><span>Ecomus</span>&nbsp;<span>(8)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="brand" class="tf-check" id="M&H">
                                    <label for="M&H" class="label"><span>M&H</span>&nbsp;<span>(8)</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-facet">
                        <div class="facet-title" data-bs-target="#color" data-bs-toggle="collapse" aria-expanded="true"
                            aria-controls="color">
                            <span>Color</span>
                            <span class="icon icon-arrow-up"></span>
                        </div>
                        <div id="color" class="collapse show">
                            <ul class="tf-filter-group filter-color current-scrollbar mb_36">
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_beige" id="Beige"
                                        value="Beige">
                                    <label for="Beige" class="label"><span>Beige</span>&nbsp;<span>(3)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_dark" id="Black"
                                        value="Black">
                                    <label for="Black" class="label"><span>Negro</span>&nbsp;<span>(18)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_blue-2" id="Blue"
                                        value="Blue">
                                    <label for="Blue" class="label"><span>Azul</span>&nbsp;<span>(3)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_brown" id="Brown"
                                        value="Brown">
                                    <label for="Brown" class="label"><span>Marrón</span>&nbsp;<span>(3)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_cream" id="Cream"
                                        value="Cream">
                                    <label for="Cream" class="label"><span>Crema</span>&nbsp;<span>(1)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_dark-beige"
                                        id="Dark Beige" value="Dark Beige">
                                    <label for="Dark Beige" class="label"><span>Beige Oscuro</span>&nbsp;<span>(1)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_dark-blue" id="Dark Blue"
                                        value="Dark Blue">
                                    <label for="Dark Blue" class="label"><span>Azul Oscuro</span>&nbsp;<span>(3)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_dark-green"
                                        id="Dark Green" value="Dark Green">
                                    <label for="Dark Green" class="label"><span>Verde Oscuro</span>&nbsp;<span>(1)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_dark-grey" id="Dark Grey"
                                        value="Dark Grey">
                                    <label for="Dark Grey" class="label"><span>Gris Oscuro</span>&nbsp;<span>(1)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_grey" id="Grey"
                                        value="Grey">
                                    <label for="Grey" class="label"><span>Gris</span>&nbsp;<span>(2)</span></label>
                                </li>
                                <li class="list-item d-flex gap-12 align-items-center">
                                    <input type="radio" name="color" class="tf-check-color bg_light-blue"
                                        id="Light Blue" value="Light Blue">
                                    <label for="Light Blue" class="label"><span>Azul Claro</span>&nbsp;<span>(5)</span></label>
                                </li>
                            </ul>       {# cierra ul filter-color #}
                        </div>  {# cierra collapse #}
                    </div>  {# cierra widget-facet color #}
                </form>     {# cierra form facet-filter-form #}
            </div>      {# cierra canvas-body #}
        </div>      {# cierra canvas-wrapper #}
    </div>      {# cierra offcanvas filterShop #}

{% endblock %}

</body>

</html>