{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- page-title -->
<div class="tf-page-title style-2">
    <div class="container-full">
        <div class="heading text-center">{{ pagina.titulo }}</div>
    </div>
</div>
<!-- /page-title -->
<!-- main-page -->
<section class="flat-spacing-25">
    <div class="container">
        <div class="tf-main-area-page tf-terms-conditions">
            {% if pagina and pagina.contenido %}
                {{ pagina.contenido|safe }}
            {% else %}
                <div class="box">
                    <p class="text-center text-muted">No hay contenido disponible</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- /main-page -->
{% endblock %}
